<div class="container">
    <div class="row">
        <div class="col-md-7 mrgnbtm">
            <h2>Create Commitment</h2>
            <form [formGroup]="commitmentForm" (ngSubmit)="onSubmit()">
                <div class="row">
                    <div class="form-group col-md-12">
                        <label for="commitment-title">Title</label>
                        <input type="text" class="form-control" formControlName="title" id="commitment-title" aria-describedby="title" placeholder="Title">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <label for="commitment-description">Description (optional)</label>
                        <textarea type="text" class="form-control" formControlName="description" id="commitment-description" placeholder="Description"></textarea>
                    </div>
                </div>
                <button type="submit" [disabled]="!commitmentForm.valid" class="btn btn-danger">Create</button>
            </form>
        </div>
        <div class="col-md-4 mrgnbtm">
            <app-display-board
                    [commitmentsCount]="commitmentsCount"
                    (getCommitmentsEvent)="getAllTodos()">
            </app-display-board>
        </div>
    </div>
</div>
<div class="mrgnbtm">
    <app-commitments *ngIf="commitments.length !== 0" [commitments]="commitments"></app-commitments>
</div>