<div class="container">
  <h2>Todos</h2>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Todo Id</th>
        <th>Done</th>
        <th>Title</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr class="not-done" *ngFor="let undoneTodo of undoneTodos; let i = index">
        <td>
          <a target="_blank" href="/todo/{{undoneTodo.id}}">{{undoneTodo.id}}</a>
        </td>
        <td>
          <input type="checkbox" id="undoneTodoStatus" name="done"
                   [(ngModel)]="undoneTodo.done"
                   (change)="updateSatus(undoneTodo, true)"></td>
        <td>
          <a target="_blank" href="/todo/{{undoneTodo.id}}">{{undoneTodo.title}}</a>
        </td>
      </tr>
      <tr class="done" *ngFor="let doneTodo of doneTodos; let j = index">
        <td>
          <a target="_blank" href="/todo/{{doneTodo.id}}">{{doneTodo.id}}</a>
        </td>
        <td>
          <input type="checkbox" id="doneTodoStatus" name="done"
                   [(ngModel)]="doneTodo.done"
                   (change)="updateSatus(doneTodo, false)">
        </td>
        <td>
          <a target="_blank" href="/todo/{{doneTodo.id}}">{{doneTodo.title}}</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
